<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDB103Dialect </property>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:mariadb://localhost:3306/productionplan
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">VenaJa4$</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="db.equipment.injectionmoldingmachine.InjectionMoldingMachine" />
        <mapping class="db.equipment.EquipmentKind" />
        <mapping class="db.equipment.EquipmentType" />
        <mapping class="db.equipment.injectionmoldingmachine.SpacerPlate" />
        <mapping class="db.equipment.mold.MoldBase" />
        <mapping class="db.equipment.mold.MoldModifier" />
        <mapping class="db.equipment.mold.MoldInsert" />
        <mapping class="db.equipment.mold.periphery.HydraulicCylinder" />
        <mapping class="db.product.Detail" />
        <mapping class="db.producer.Producer" />
        <mapping class="db.producer.Country" />
    </session-factory>
</hibernate-configuration>